<!DOCTYPE html>
<html>
<head>
    <title>Chat Service</title>
    <link type="text/css" href="css/style.css" />
</head>
<body>
    <h1>Welcome to Chat Service</h1>
    <a href="/login">Login</a> or <a href="/register">Register</a>
</body>
</html>
